@import "tailwindcss";
@config "../../tailwind.config.cjs";

:root {
    --vp-c-brand-1: var(--color-black);
    --vp-c-brand-2: var(--color-gray-700);
    --vp-c-brand-3: var(--color-gray-500);
    --vp-button-brand-bg: var(--vp-c-brand-1);
}

.dark {
    --vp-c-brand-1: var(--color-white);
    --vp-c-brand-2: var(--color-gray-200);
    --vp-c-brand-3: var(--color-gray-400);
    --vp-button-brand-text: var(--color-black);
    --vp-button-brand-hover-text: var(--color-gray-900);
}
